
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Signika+Negative&display=swap');

*{
  margin: 0;
    padding: 0;
    border: 0;
}
body{
  
  display: flex;
  flex-direction: column;
 background-color: black !important;
  color:white !important;
  
}
   
 .div-header{
   width:100%;
  display: flex;
  justify-items: end;
  justify-content:flex-end;
  padding: 25px 0 25px 0;
  border-bottom: 1px solid white;
  
  }
 .link{
  
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding: 1px 5px;
  margin-right: 5px;
  color:gray;
  
}
.link:hover{
  color:white;
  font-size: 30px;

}

.titulo-2{
  margin-top: 30px;
   
  margin-bottom: 80px;
    

  
    font-family: 'Quicksand', sans-serif;
    position:absolute;
  
    transform:translate(-50%,-50%);
    color:rgba(255,255,255,.1);
    background:linear-gradient(to right,
    rgb(76,217,105),
    rgb(52,170,220),
    rgb(88,86,217),
    rgb(255,45,83),
    rgb(88,86,217),
    rgb(55,170,220),
    rgb(76,217,105)
  
    );
    background-size:400%;
    -webkit-background-clip:text;
    background-clip:text;
    font-weight:20px;
    font-size:40px;
    text-align:left;
    margin-left: 20%;
   
    animation:sTransition 10s linear infinite;
  }
  @keyframes sTransition{
    0%{
      background-position:0%;
    }
    100%{
      background-position:400%;
    }
   
    
  }
  
  .titulo-2:hover{
  font-size:50px;
  }
  .p-texto-sobre{
    margin-top: 80px;
    margin-left:30px;
    
    font-size:25px;
  }
  .item-1{
    margin-top: 40px;
    border: 1px solid white ;
    width:700px;
    height: 300px;
  }
  .footer{
    
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }
  .color-tag-button{
    color: gray;
    margin-top: -200px;
    margin-left: 50px;
  }
  .color-tag-button:hover{
    color: white;
    margin-left: 50px;
  }
  /*css responsivo pagina sobre */
  @media  screen and (max-width: 600px) {
  *{
    margin: 0;
      padding: 0;
      border: 0;
  }
  .div-header { width:100%; }
  .titulo-2{
    margin-top: 60px;
margin-left: 140px;
  }
  .style{
    display: "block";
    margin-left:-40ox;
    width: 500px;
    height: 500ox;
    padding: 70px;
  
  }
  }
  @media  screen and (max-width: 425px)  {
    *{
      margin: 0;
        padding: 0;
        border: 0;
    }
    .div-header { width:100%; }
  }